# === Python / Virtualenv ===
__pycache__/
*.py[codz]
*$py.class
*.so

# Virtualenvs locais
.venv/
venv/
env/
.venv*/
venv*/
env*/

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# Distribution / packaging
db.sqlite3
*.db
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
media_root/
static/
static_root/

# Environment files
.env
.env.*
.env.local
secrets.json
*.pem
*.key

# IDEs / Editors
.vscode/
.idea/
.spyderproject
.spyproject
.ropeproject

# Jupyter Notebook
.ipynb_checkpoints

# Misc
.DS_Store
Thumbs.db
*~
*.swp
*.swo

# Node / front-end (se houver)
# node_modules/
# build/
# dist/
# .parcel-cache/
# .next/
# next-env.d.ts

# Python type checkers
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/

# Other caches
.ruff_cache/

node_modules/
staticfiles/
__pycache__/
*.pyc
.env
venv/
cypress/videos/
cypress/screenshots/
midia/imagens/